<?xml version="1.0"?>

<launch>

	<rosparam command="load" file="$(find crazyflie_human)/config/pedestrian_pred.yaml" />
	<rosparam command="load" file="$(find stp_humans_fastrack)/config/stp.yaml" />

    <node pkg="stp_humans_fastrack" name="human_node" type="human.py"/>
    <node pkg="stp_humans_fastrack" name="STP_human_node" type="STP_human.py"/>

    <node pkg="tf" name="world_publisher" type="static_transform_publisher" args="0 0 0 0 0 0 1 world my_frame 100"/>

</launch>

